<div class="card mt-3">
  <article class="card-body">
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <strong>Posted by: {{user.username}} on {{format_date created_at}}</strong>
  </article>
</div>
{{#if loggedIn}}
<form id="commentForm" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Comment</label>
    <textarea id="blog-comment" class="form-control"></textarea>
  </div>
  <button data-id="{{id}}" id="comment" class="btn btn-primary">Add Comment</button>
</form>
{{/if}}

{{> comments post.comments}}

{{!-- add script file --}}
<script src="/js/comment.js"></script>