<a href="/">Go back to Home</a>
<article class="card">
    <header>{{title}}</header>
    <p>{{content}}</p>
    <p>Posted by: {{user.username}} on {{format_date created_at}}</p>
</article>
{{#if loggedIn}}
<form id="commentForm">
  <div class="mb-3">
    <label class="form-label">Comment</label>
    <textarea id="blog-comment" class="form-control"></textarea>
  </div>
  <button data-id="{{id}}" id="comment" class="btn btn-primary">Add Comment</button>
</form>
{{/if}}

{{> comments post.comments}}

{{!-- add script file --}}
<script src="/js/comment.js"></script>